# Python
__pycache__/
*.pyc
*.pyo
.venv/

# PyInstaller
build/
dist/
*.spec

# Binaries (core/)
core/*.exe
core/*.dll
core/*.dat
core/*.ps1
core/*.vbs

# App data
data/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
desktop.ini
.DS_Store

# Logs
*.log

# Archives
*.zip
